---
import Nav from '../components/core/Nav.astro';
import Footer from '../components/core/Footer.astro';
const { title = 'BuildRightPros' } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <title>{title}</title>
  <link href="https://fonts.googleapis.com/css2?family=Titan+One&family=Montserrat&display=swap" rel="stylesheet">
</head>
<body class="bg-brand-light font-body">
  <Nav />
  <main><slot /></main>
  <Footer />
</body>
</html>
